Repository hmcts/em-hrs-ingestor, pull requests merged in 2021-03, with the labels that each got.

#14 Added in secrets
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/reform/demo/controllers/RootController.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-14

#17 Added in key vault details
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-17

#19 Em 3386 ingestor pipeline proven
  Makefile
  build.gradle
  charts/em-hrs-ingestor/Chart.yaml
  gradle.properties
  src/integrationTest/java/uk/gov/hmcts/reform/demo/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/demo/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/GetRootUrlIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/demo/Application.java
  src/main/java/uk/gov/hmcts/reform/demo/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/demo/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/Application.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/Config.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/RootController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/exception/AppConfigurationException.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/smoke/SmokeTest.java
  src/smokeTest/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/RootUrlControllerTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-19

#22 Em 3370
  .github/renovate.json
  Jenkinsfile_CNP
  Jenkinsfile_template
  build.gradle
  config/checkstyle/checkstyle.xml
  config/pmd/ruleset.xml
  gradle.properties
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/FileNameParser.java
  src/main/resources/logback-test.xml
  src/smokeTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/smoke/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/TestFileNameParser.java
  src/test/resources/uk/gov/hmcts/reform/em/hrs/hrs/ingestor/data/invalid-file-format-values.csv
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-22

#28 Feature/em 3391 av checker
  build.gradle
  docker-compose-dependencies.yml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/AntivirusClientImplTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/mock/ClamAvInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/TestAzureStorageConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/TestOkHttpClientConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/AzureOperations.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientImplTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/mock/WireMockInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImplTest.java
  src/integrationTest/resources/application.yml
  src/integrationTest/resources/clean-file
  src/integrationTest/resources/eicar-standard-av-test-file
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/Application.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/AntivirusClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/AntivirusClientImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/AvScanResult.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AppConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AzureStorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/ClamAvConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/Config.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/OkHttpClientConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/exception/HrsApiException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsHttpClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImpl.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-28

#34 Nojira remove maven local and promote order of maven central over jcenter
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-34

#30 Feature/em 3385 transfer files from cvp to hrs
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/AntivirusClientIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/AzureOperations.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientImplTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestorServiceIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImplTest.java
  src/integrationTest/resources/cf-0266-hu-02785-2020_2020-07-16-10.07.31.680-UTC_0
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/AntivirusClientImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/domain/CvpItem.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/domain/CvpItemSet.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/domain/HearingSource.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/domain/HrsFileSet.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/domain/Metadata.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/exception/FileParsingException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsHttpClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/FileNameParser.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestionFilterer.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestionFiltererImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestorService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolver.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/TestFileNameParser.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestionFiltererImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-30

#40 Added in S2S & AppInsights key
  infrastructure/main.tf
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-40

#41 Em 3615 s2s implementation
  build.gradle
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/ServiceTokenGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-41

#44 Fixed CVE-2020-15824, CVE-2020-29582
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-44

#39 Initial Version of the Contract Tests for IdamConsumerTests.....
  Jenkinsfile_CNP
  build.gradle
  docker-pactbroker-compose.yml
  pacts/.keep
  src/contractTest/java/uk/gov/hmcts/reform/em/hrs/consumer/IdamAPIConsumerTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-39

#45 Added the AppDSL Import to the pipeline file...
  Jenkinsfile_CNP
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-45

#51 Feature/em 3686 additional metadata parsing
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/AzureOperations.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestorServiceIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImplTest.java
  src/integrationTest/resources/cf-0266-hu-02785-2020_2020-07-16-10.07.31.680-UTC_0.txt
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/domain/HearingSource.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/domain/Metadata.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/dto/HrsFilenameParsedDataDto.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/dto/ParsedFilenameDto.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsHttpClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/CvpItem.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/CvpItemSet.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/HearingSource.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/HrsFileSet.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/Metadata.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/FilenameParser.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestionFilterer.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestionFiltererImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolver.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/FilenameParserTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/FilenameParserWithFullDataExtractTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestionFiltererImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImplTest.java
  src/test/resources/logback-test.xml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-51
