Repository hmcts/em-hrs-ingestor, pull requests merged in 2021-06, with the labels that each got.

#134 Remove suppression CVE-2018-1258
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-134

#144 pull rpa instrumentation key directly from rpa vault
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.aat.template.yaml
  charts/em-hrs-ingestor/values.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-144

#143 enabling pact tests
  Jenkinsfile_CNP
  build.gradle
  pacts/hrs_ingestor_api-Idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/em/hrs/consumer/IdamApiConsumerTest.java
  src/contractTest/resources/application.yml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-143

#146 Temp fix to refresh pod on Prod
  build.gradle
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestorServiceIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImplTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AzureStorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImpl.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-146

#147 Reverted the changes
  build.gradle
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestorServiceIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImplTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AzureStorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImpl.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-147

#149 Delete hrs_ingestor_api-Idam_api.json
  pacts/hrs_ingestor_api-Idam_api.json
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-149

#138 invoke integration tests stage after regular tests
  Jenkinsfile_CNP
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-138

#154 Em 3916 hrs ingestor logs in app insights do not appear
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/functional/HrsIngestScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/listener/IngestWhenApplicationReadyListener.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-154

#157 add rpa to secrets mounts and enhance AI sdk logging. also allow time
  lib/AI-Agent.xml
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/listener/IngestWhenApplicationReadyListener.java
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-157
