Repository hmcts/em-hrs-ingestor, pull requests merged in 2021-05, with the labels that each got.

#64 Added in initial lines for Cronjob
  Jenkinsfile_CNP
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.aat.template.yaml
  charts/em-hrs-ingestor/values.preview.template.yaml
  charts/em-hrs-ingestor/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AzureStorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/listener/IngestWhenApplicationReadyListener.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-64

#100 add more logging
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-100

#99 added files to local storage primer
  docker/dependencies/start-local-environment.sh
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-99

#111 change job type to java for aat, and set to non cron job
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.aat.template.yaml
  charts/em-hrs-ingestor/values.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-111

#117 switch preview to java job and made standard envs not have suspended job
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.preview.template.yaml
  charts/em-hrs-ingestor/values.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-117

#118 change default job type to java
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-118

#119 add max ingestion limit as rest parameter
  docker/dependencies/start-local-environment.sh
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/IngestControllerTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/CvpBlobStoreInspectorController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/IngestController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestorService.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-119

#120 initial commit
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.aat.template.yaml
  charts/em-hrs-ingestor/values.preview.template.yaml
  charts/em-hrs-ingestor/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/listener/IngestWhenApplicationReadyListener.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-120

#121 Em 3814 handle null exception for missing md5
  src/contractTest/java/uk/gov/hmcts/reform/em/hrs/consumer/IdamApiConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/functional/util/TestUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/TestUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImplTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/CvpBlobStoreInspectorController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/IngestController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/listener/IngestWhenApplicationReadyListener.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/BlobHelper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/BlobHelperTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-121
