Repository hmcts/em-hrs-ingestor, pull requests merged in 2021-04, with the labels that each got.

#60 changed test annotation to jupiter
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/listener/IngestWhenApplicationReadyListener.java
  src/smokeTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/smoke/SmokeTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-60

#59 Initial Version of the Mutation Tests....
  Jenkinsfile_nightly
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-59

#61 Added in AppInsights
  Dockerfile
  build.gradle
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.yaml
  lib/AI-Agent.xml
  src/functionalTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/appinsights/AppInsightsEventRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/appinsights/AppInsightsEvents.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/appinsights/EventRepository.java
  src/main/resources/application.yaml
  web.config
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-61

#66 Em 3614 add connection logic to cvp blob client
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/CvpBlobStoreInspectorControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AzureStorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/CvpBlobStoreInspectorController.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-66

#70 add folder to metadata
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/Metadata.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-70

#74 EM-3751 Remove AV checking code
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/AntivirusClientIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/mock/ClamAvInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/CvpBlobStoreInspectorControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/TestUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestorServiceIntegrationTest.java
  src/integrationTest/resources/eicar-standard-av-test-file
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/AntivirusClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/AntivirusClientImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/av/AvScanResult.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AzureStorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/ClamAvConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/listener/IngestWhenApplicationReadyListener.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/componenttests/AbstractBaseTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-74

#78 EM-3615 Add service authorisation header to requests going to em-hrs-api
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/OkHttpClientConfig.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-78

#80 added hrs api target value
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-80

#83 fixed default parser and increased default batch size
  docker/dependencies/start-local-environment.sh
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/FilenameParser.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-83

#84 add additional logging and guards against unexpected file paths
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AzureStorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/listener/IngestWhenApplicationReadyListener.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-84
