Repository hmcts/em-hrs-ingestor, pull requests merged in 2021-11, with the labels that each got.

#237 Resolve "CVE-2021-22096"
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-237

#236 EM-4104 remove controllers and tests
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/functional/HrsIngestScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/functional/config/AzureClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/functional/util/TestUtil.java
  src/functionalTest/resources/application.yml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/CvpBlobStoreInspectorControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/GetRootUrlIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/IngestControllerTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/CvpBlobStoreInspectorController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/IngestController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/RootController.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/controller/RootUrlControllerTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-236

#239 Em 4083 hrs validate ithc environment
  docker/dependencies/stop-local-environment.sh
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AzureStorageConfiguration.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-239
