Repository hmcts/em-hrs-ingestor, pull requests merged in 2022-02, with the labels that each got.

#267 Added in log levels
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-267

#268 remove unused method
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestorService.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-268

#269 EM-3917 add logging
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/appinsights/AppInsightsEventRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/appinsights/AppInsightsEvents.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/appinsights/EventRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/listener/IngestWhenApplicationReadyListener.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-269

#271 Set log4j version
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-271

#273 Resolved checkstyle warnings
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/em/hrs/consumer/IdamApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AzureStorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/BlobHelper.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-273

#274 Fix vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-274

#278 Add 'until' to vulnerability suppression
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-278

#279 increase log flush wait
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/listener/IngestWhenApplicationReadyListener.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-279

#281 process only old files- add ENV toggle
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImpl.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-281

#282 remove logback
  build.gradle
  src/main/resources/logback-test.xml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-282

#293 Fix CVE's
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-293

#313 Fix vulnerabilities
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-313
