Repository hmcts/em-hrs-ingestor, pull requests merged in 2023-07, with the labels that each got.

#680 Upgraded gradle version to 8
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-680

#682 Em-5087add new "sourceBlobUrl" request field
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/Metadata.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
Labels: ns:em, prd:em, add-or-update, rel:em-hrs-ingestor-pr-682

#684 Em-5087 remove cvpFileUrl
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/Metadata.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-684

#690 Em-5087 add HearingSource to CvpItem.java and rename cvpitem to Sourc…
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/CvpBlobstoreClientImplTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/CvpItemSet.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/SourceBlobItem.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestionFilterer.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestionFiltererImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolver.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/BlobstoreClientHelperImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestionFiltererImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-690

#693 EM-5322 add blob selection logic
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/AzureOperations.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/BlobIndexHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/VhBlobstoreClientHelperTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/BlobIndexHelper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/VhBlobstoreClientHelper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/util/DateUtil.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-ingestor-pr-693
