Repository hmcts/em-hrs-ingestor, pull requests merged in 2023-08, with the labels that each got.

#714 Em-5322 add vh ingesting
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/TestUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/IngestorServiceIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/VhBlobstoreClientHelperTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/VhBlobstoreClientHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImplTest.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-714

#718 EM-5322 refactor test and add clean up
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/AzureOperations.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/BlobIndexHelperTest.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-718

#720 Add log for parsing
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-720

#724 Update checkstyle & Resolve Deprecation
  build.gradle
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/config/AppConfig.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-724

#728 Em-5498 add parsing and interpreter
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/helper/TestUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/http/HrsApiClientIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/dto/ParsedFilenameDto.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/model/Metadata.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/FilenameParser.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParser.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParserTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImplTest.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-728
