Repository hmcts/em-hrs-ingestor, pull requests merged in 2024-05, with the labels that each got.

#978 skip badly named VH files
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/VhBlobstoreClientHelperTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParser.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/VhBlobstoreClientHelper.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParserTest.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-978

#981 log files names
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParser.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParserTest.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-981

#982 log all badly named files
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/VhBlobstoreClientHelper.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParserTest.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-982

#984 Extended the suppression date
  config/owasp/suppressions.xml
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-984

#988 make possbile to Process all vh records without date chaeck
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParser.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/VhBlobstoreClientHelper.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-988

#989 add filename length check to parsing
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParser.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParserTest.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-989

#990 log tags
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/VhBlobstoreClientHelper.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-990

#994 EM-5908 fix code smells-1
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/FilenameParser.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/DefaultIngestorService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/BlobIndexHelper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/BlobstoreClientHelperImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/VhBlobstoreClientHelper.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/FilenameParserTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/FilenameParserWithFullDataExtractTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/service/MetadataResolverImplTest.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-994

#995 EM-5908 fix code smells-2
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/parse/VhFileNameParserTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/ingestor/storage/BlobHelperTest.java
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-995

#1009 EM-6031 hrs-ingestor add params
  charts/em-hrs-ingestor/Chart.yaml
  charts/em-hrs-ingestor/values.yaml
Labels: prd:em, ns:em, rel:em-hrs-ingestor-pr-1009
